.todoList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoList ul {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  max-height: 500px;
}

.todoList ul li {
  width: 60%;
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoList ul li input {
  width: 100%;
  min-width: 300px;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  color: black;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(25, 133, 196, 1) 79%
  );
}

.completed {
  text-decoration: line-through;
  color: rgb(126, 124, 124);
}

.todoList ul li .editIcon,
.validIcon,
.deleteIcon {
  position: absolute;
  top: 13px;
  cursor: pointer;
}

.editIcon {
  right: 60px;
}

.validIcon {
  right: 35px;
}

.deleteIcon {
  right: 10px;
}

@media screen and (max-width: 378px) {
  .editIcon {
    right: 20px;
  }

  .validIcon {
    right: -5px;
  }

  .deleteIcon {
    right: -30px;
  }
}

/* SCROLL */
.todoList ul li::-webkit-scrollbar-track {
  border: 10px solid rgba(25, 133, 196, 1) 79%;
  border-color: transparent;
  background-color: rgba(25, 133, 196, 1) 79%;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(25, 133, 196, 1) 79%;
  border-radius: 15px;
}
