.todoList {
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.todoList ul {
  margin-top: 20px;
}

.todoList ul li {
  list-style-type: none;
  position: relative;
}

.todoList ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.todoList ul li input {
  width: 60%;
  min-width: 300px;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  color: black;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(25, 133, 196, 1) 79%
  );
}

.completed {
  text-decoration: line-through;
  color: rgb(126, 124, 124);
}

.todoList ul li .editIcon,
.validIcon,
.deleteIcon {
  position: absolute;
  top: 13px;
  cursor: pointer;
}

.editIcon {
  right: 60px;
}

.validIcon {
  right: 35px;
}

.deleteIcon {
  right: 10px;
}
