nav {
  min-height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1985c4;
  color: white;
  padding: 0 100px;
}

nav h2 a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  transition: 0.5s;
  letter-spacing: 7px;
}

nav h2 a:hover {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin: 0 30px 0 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: 0.5s;
  letter-spacing: 5px;
}

nav ul li a:hover {
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  border-bottom: 4px solid black;
}

.btnBurger {
  height: 40px;
  width: 28px;
  padding-top: 12px;
  display: none;
}

.btnBurger .line1,
.line2,
.line3 {
  height: 7px;
  border-top: 3px solid white;
  transition: all 0.5s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -4px);
}

@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }

  nav ul {
    position: absolute;
    left: 0;
    height: 92vh;
    width: 100%;
    top: 6.9vh;
    background-color: rgb(25, 133, 196);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.5s ease-in;
  }

  nav ul li {
    margin: 0;
    opacity: 0;
    text-align: center;
  }

  .animationLink1 {
    animation: 0.2s navFade 0.5s ease-in forwards;
  }

  .animationLink2 {
    animation: 0.2s navFade 0.6s ease-in forwards;
  }

  .animationLink3 {
    animation: 0.2s navFade 0.7s ease-in forwards;
  }

  .animationLink4 {
    animation: 0.2s navFade 0.8s ease-in forwards;
  }

  .btnBurger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
